<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>message1</key>
	<string>Grüezi Herr [familyname1], lieber Herr [familyname2]

Wie mit Ihnen beiden bereits besprochen möchte ich Sie auf diese Weise unkompliziert in Verbindung bringen, direkt “kurzschliessen”.

Zur Erinnerung:
Herr [familyname1] ist…

Herr [familyname2] ist…

Hier nun die jeweiligen konkreten Adressen:
Firma [organizationName1]
[fullname1] – Funktion
[address1]
Tel. direkt:
Mobil: [phone1]
e-Mail: [email1]
Website: [url1]

Firma [organizationName2]
[fullname2] – Funktion
[address2]
Tel. direkt:
Mobil: [phone2]
e-Mail: [email2]
Website: [url2]

@ Herr [familyname1]: darf ich Sie bitten, dass Sie in nächster Zeit mit [fullname2]  Kontakt aufnehmen, um ein persönliches Treffen zu vereinbaren / das weitere Vorgehen zu definieren?

@ Herr [familyname2]: darf ich Dich bitten, dass Du in der nächsten Zeit mit [fullname1] Kontakt aufnimmst, um ein persönliches Treffen zu vereinbaren / das weitere Vorgehen zu definieren?

Vielen Dank - und viel Erfolg beim Netzwerken!

Mit besten Grüssen
</string>
	<key>message1title</key>
	<string>Sehr geehrte Damen und Herren</string>
	<key>message2</key>
	<string>Grüezi Herr [name1], lieber [name2]
        
Wie mit Ihnen beiden bereits besprochen möchte ich Sie auf diese Weise unkompliziert in Verbindung bringen, direkt “kurzschliessen”.
        
Zur Erinnerung:
Herr [name1] ist…

Herr [name2] ist…
        
Hier nun die jeweiligen konkreten Adressen:
Firma
[fullname1] – Funktion
Strasse
PLZ Ort
Tel. direkt:
Mobil:
e-Mail:
Website:
        
Firma
[fullname2] – Funktion
Strasse
PLZ Ort
Tel. direkt:
Mobil:
e-Mail:
Website:
        
@ Herr [name1]: darf ich Sie bitten, dass Sie in nächster Zeit mit [name2]  Kontakt aufnehmen, um ein persönliches Treffen zu vereinbaren / das weitere Vorgehen zu definieren?
        
@ [name2]: darf ich Dich bitten, dass Du in der nächsten Zeit mit [name2] Kontakt aufnimmst, um ein persönliches Treffen zu vereinbaren / das weitere Vorgehen zu definieren?
        
Vielen Dank - und viel Erfolg beim Netzwerken!
        
Mit besten Grüssen</string>
	<key>message2title</key>
	<string>Servus Leute</string>
</dict>
</plist>
